*{
  margin: 0;
  padding: 0;
  /* background-color: cyan; */
}

#all {
  /* margin-top: 63px; */
padding-top: 63px;
}

div.page {
  background-color: #f4f4f4;
  color: #00008b;
  text-align: center;
  padding: 10px;
  align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -63px;
  visibility: hidden;
}

#engine {
padding-top: 63px;
}

#expList {
	margin: auto;
	height: 50px;
}


ul.exp {
	display: inline-block;
float: center;
padding: 30px;
text-align: center;
}

  #main {
  text-align: center;
  color: #00008b;
  height: calc(50vh - 63px);
  top: 63px;
  position: relative;
}
#maintext {
  z-index: 10;
}

#particles-js {
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}




#photo1 {
  height: 50vh;
  background: url("../content/image2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#secondpage {
  /* height: 100vh; */
  background-color: #f4f4f4;
  color: #00008b;
  text-align: center;
}

#second {
  padding: 10px;
  height: calc(50vh - 63px);
  position: relative;
}

#photo2 {
  background: url("../content/image3.jpg");
  background-attachment: fixed;
  height: 50vh;
  background-size: cover;
}

#thidrpage {
  /* height: 100vh; */
}
#third {
  height: calc(50vh - 63px);

}
#photo3 {
  background: url("../content/image1.jpg");
  background-attachment: fixed;
  height: 50vh;
  background-size: cover;

}



.logos {
 	display: inline-block;
	margin: 20px;
	width: 10vw;
	min-width: 61px;
	max-width: 100px;


}



.backend {
  vertical-align: middle;
  margin: 20px;
  min-width: 90px;
  width: 10vw;

}


a {
  outline: none;
}


body {
  margin: 0;
  font-family:"Arial",Serif;
  background-color: #f4f4f4;
  overflow-x: hidden;

}
.navbar {
  width: 100%;
  background-color: #3b5998;
  overflow: hidden;
  height: 63px;
  position: fixed;
  z-index: 5;
}

.navbar a {
  float: left;
  display:block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar-nav a:hover {
  /* background-color: #ddd; */
  color: #fff;
  border-bottom-color: #fff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}


.side-nav {
  height:100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left:0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
}

.side-nav a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.2s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left:50px;
}
@media(max-width:568px) {
  .navbar-nav{display:none}
}

@media(min-width:568px) {
  .open-side{display:none}
}
